h1, h2
    font-family "Roboto", sans-serif
    font-weight 700
    font-size 100px
    color $light_red
    
    &.blue
        color $dark_blue
        
p
    font-family "Roboto", sans-serif
    font-weight 500
    font-size 14px
    color $black