div.container
    h1, h2
        font-family "Roboto", sans-serif
        font-weight 700
        font-size 10rem
        color $light_red
        line-height 118px
        margin-bottom 45px
        
        &.blue
            color $dark_blue
            
        @media screen and (max-width 999px)
            font-size 6.4rem
            line-height 78px
            
    p
        font-family "Roboto", sans-serif
        font-weight 500
        font-size 1.4rem
        color $black
        
        &.blue
            color $dark_blue
        
    a
        font-family "Roboto", sans-serif
        font-weight 500
        font-size 1.4rem
        color $dark_blue
        
        &.blue
            color $dark_blue