div.container
    h1, h2
        font-family "Roboto", sans-serif
        font-weight 700
        font-size 100px
        color $light_red
        line-height 118px
        margin-bottom 45px
        
        &.blue
            color $dark_blue
            
        @media screen and (max-width 750px)
            font-size 64px
            line-height 78px
            
    p
        font-family "Roboto", sans-serif
        font-weight 500
        font-size 14px
        color $black
        
        &.blue
            color $dark_blue
        
    a
        font-family "Roboto", sans-serif
        font-weight 500
        font-size 14px
        color $dark_blue
        
        &.blue
            color $dark_blue