div.container--outer.how
    background-image linear-gradient(224deg, #FFFFFF 30%, #F2F5F9 100%)
    div.container--inner
        div.text-content
            width 100%
            align-items: center;
            justify-content: center;
            display: flex;
            
            h2
                width 100%
                text-align center
                
            div.row-container
                flex-flow row wrap
                justify-content space-between
                align-items center
                width 900px
                margin-bottom 40px
                
                button.btn
                    margin-top -17px
            
        div.image-content
            width 100%
            display flex
            flex-flow row wrap
            justify-content center
            align-items center
            div.image--app
                box-shadow 0 2px 10px 0 rgba(157,139,139,0.29), 0 12px 24px 0 rgba(53,53,53,0.05)
                border-radius 4px
                background-image url('assets/app.png')
                width 852px
                height 520px