div.container--outer.signup
    background-image linear-gradient(-224deg, #FFFFFF 30%, #F2F5F9 100%)
    div.container--inner
        flex-flow row-reverse wrap
        justify-content flex-end
        div.text-content
            max-width 466px
            
        div.image-content
            div.signup-box
                width 55%