div.container--outer.signup
    div.container--inner
        flex-flow row-reverse wrap
        justify-content flex-end
        div.text-content
            max-width 466px
            
        div.image-content
            div.signup-box
                width 55%