div.container--outer.what
    div.container--inner
        flex-flow row-reverse wrap
        justify-content flex-end
        div.text-content
            margin 0
            max-width 567px
            
        div.image-content
            div.image--yt
                margin-right 105px
                width 391px
                height 666px
                background-image url('assets/iphone_7_copy.png')
                box-shadow 0 2px 10px 0 rgba(139,141,157,0.29), 0 12px 24px 0 rgba(53,53,53,0.05)
                border-radius 4px
                
                @media screen and (max-width 391px)
                    width 100vw
                    height 184.48vw
                    margin-right 0px